html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url('../../../../public/images/13.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.hidden-admin-link {
  display: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

/* Другие стили */

