.review-card-team {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяет контент по высоте */
}

.review-header-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.review-header-team p {
  margin: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-header-team .react-stars {
  flex-shrink: 0;
  margin-left: 10px;
}

.review-text-team {
  margin-top: 5px;
  margin-bottom: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Ограничиваем текст тремя строками для Webkit */
  -webkit-box-orient: vertical;
  line-clamp: 3; /* Стандартное свойство для совместимости */
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more-team {
  text-align: right;
  align-self: flex-end;
}

.read-more-team a {
  color: rgb(92, 63, 63);
  text-decoration: none;
  font-weight: bold; /* Подчеркиваем важность ссылки */
}

.read-more-team a:hover {
  text-decoration: underline;
}
